body {
  background-color: #333;
  color: lightgray;
}

.ml-1 {
    margin-left: 1em;
}

.ml-2 {
    margin-left: 2em;
}

.m1 {
  margin: 1em;
}

.mx1 {
  margin-left: 1em;
  margin-right: 1em;
}

.mb0 {
  margin-bottom: 0em;
}

.flex-around {
  display: flex;
  justify-content: space-between;
}
